


.megaMenu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear 0s;

    z-index: -900;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    /* font-size: 22px; */
    font-weight: 500;
}

/* style toggle class elements here */
.toggle > label::after {
    content: "\25BC";
    /* font-size: 10px; */
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.toggleInput {
    display: none;
}

.toggleInput:not(:checked) ~ .megaMenu {
    opacity: 0;
    visibility: hidden;
    z-index: -900;
}

.toggleInput:checked ~ .megaMenu {
    opacity: 1;
    visibility: visible;
    z-index: 900;
}

.toggleInput:checked + label {
    color: rgb(5,46,22);
    background: rgb(235, 255, 206);
}

.toggleInput:checked ~ label:after {
    content: "\25B2";
    /* font-size: 10px; */
    padding-left: 6px;
    position: relative;
    top: -1px;
}


/* here hoverable design */
.hoverLinks {
    position: static;
}

.hoverLinks > a:after {
    content: "\25BC";
    /* font-size: 10px; */
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverLinks:hover {
    content: "\25B2";
}

.hoverLinks:hover .megaMenu {
    opacity: 1;
    visibility: visible;
    z-index: 900;
}